# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Visual Studio
.vs/

# Environment
.env

# Database（如果正式環境才建立）
*.db

# Logs
logs/

# Images（玩家頭像由程式建立）
images/players/*
images/exports/*
!images/players/.gitkeep
!images/exports/.gitkeep